{% extends "layout.html" %}
{% from "form-macro.html" import form_macro %}

{% block title %}
    <a href="/internships">Internship database</a>
    {% if form %}
        {# In lieu of type-testing in jinja, 
            we are testing whether certain fields are in the form. #}
        {% if form.logo %}
            {# Editing a company #}
            <a href="#">Edit {{company.name}}</a>

        {% elif form.availability %}
            {# Editing a team #}
            <a href="{{ url_for('show_company', company_id=team.company.id)}}">{{ team.company.name }}</a>
            <a href="#">Edit team {{team.name}}</a>

        {% else %}
            {# Adding a team #}
            <a href="{{ url_for('show_company', company_id=company.id)}}">{{ company.name }}</a>
            <a href="#">Add a team</a>

        {% endif %}
    {% else %}
        <a href="#" >{{ company.name }}</a>

    {% endif %}
{% endblock%}

{% block body %}
    {% if form %}
        {{ form_macro(form, action) }}
        
    {% else %}
        <div class="internship rows3">
            <div class="rows2">
                
                <div class="company-header">
                    <h1>{{company.name}}</h1>

                    {% if company.logo_file %}
                        <img class="medium-logo" src="{{ company.logo_file }}">
                    {% endif %}
                </div>
                
                <section class="company-info">
                    <div class="detail-list">
                        {% if company.size %}
                        <div class="detail-bar">
                            <svg class="icon" viewBox="0 0 1024 1024"><path d="M746 835.28L544.529 723.678c74.88-58.912 95.216-174.688 95.216-239.601v-135.12c0-89.472-118.88-189.12-238.288-189.12-119.376 0-241.408 99.664-241.408 189.12v135.12c0 59.024 24.975 178.433 100.624 239.089L54 835.278S0 859.342 0 889.342v81.088c0 29.84 24.223 54.064 54 54.064h692c29.807 0 54.031-24.224 54.031-54.064v-81.087c0-31.808-54.032-54.064-54.032-54.064zm-9.967 125.215H64.002V903.28c4.592-3.343 11.008-7.216 16.064-9.536 1.503-.688 3.007-1.408 4.431-2.224l206.688-112.096c18.848-10.224 31.344-29.184 33.248-50.528s-7.008-42.256-23.712-55.664c-53.664-43.024-76.656-138.32-76.656-189.152V348.96c0-45.968 86.656-125.12 177.408-125.12 92.432 0 174.288 78.065 174.288 125.12v135.12c0 50.128-15.568 145.84-70.784 189.28a64.098 64.098 0 0 0-24.224 55.664 64.104 64.104 0 0 0 33.12 50.849l201.472 111.6c1.777.975 4.033 2.031 5.905 2.848 4.72 2 10.527 5.343 14.783 8.288v57.887zM969.97 675.936L765.505 564.335c74.88-58.912 98.224-174.688 98.224-239.601v-135.12c0-89.472-121.872-190.128-241.28-190.128-77.6 0-156.943 42.192-203.12 96.225 26.337 1.631 55.377 1.664 80.465 9.664 33.711-26.256 76.368-41.872 122.656-41.872 92.431 0 177.278 79.055 177.278 126.128v135.12c0 50.127-18.56 145.84-73.775 189.28a64.098 64.098 0 0 0-24.224 55.664 64.104 64.104 0 0 0 33.12 50.848l204.465 111.6c1.776.976 4.032 2.032 5.904 2.848 4.72 2 10.527 5.344 14.783 8.288v56.912H830.817c19.504 14.72 25.408 35.776 32.977 64h106.192c29.807 0 54.03-24.224 54.03-54.064V730.03c-.015-31.84-54.047-54.096-54.047-54.096z"/></svg>
                            <span>{{ company.size }}</span>
                        </div>
                        {% endif %}
                        {% if company.intern_fee%}
                        <div class="detail-bar">
                            <svg class="icon" version="1.1" viewBox="0 0 511.976 511.976" style="enable-background:new 0 0 511.976 511.976;" xml:space="preserve">
                                <g>
                                    <path d="M462.323,440.044c-3.508,0-6.98,0.936-10.028,2.704c-32.78,19.032-70.192,29.204-108.18,29.204
                                    c-91.9,0-173.012-59.864-203.564-143.864h185.24c11.036,0,20.012-8.968,20.012-20c0-11.04-8.976-20-20.012-20H130.583
                                    c-1.596-12-2.412-21.468-2.412-32.004c0-10.532,0.812-19.996,2.412-31.996h195.204c11.036,0,20.012-8.968,20.012-20
                                    c0-11.04-8.976-20-20.012-20h-185.24c30.556-88,111.668-144.068,203.568-144.068c37.988,0,75.4,10.028,108.188,29.052
                                    c3.04,1.764,6.512,2.688,10.02,2.688c7.112,0,13.756-3.832,17.328-9.98c5.536-9.54,2.276-21.816-7.268-27.364
                                    C433.495,11.86,389.147,0,344.119,0C230.911,0.004,130.367,76.088,98.531,184.088H49.635c-11.028,0-20.008,8.96-20.008,20
                                    c0,11.032,8.98,20,20.008,20h40.556c-1.356,12-2.036,21.496-2.036,31.996c0,10.504,0.68,20.004,2.036,32.004H49.635
                                    c-11.028,0-20.008,8.96-20.008,20c0,11.032,8.98,20,20.008,20h48.896c31.836,108,132.384,183.888,245.584,183.888
                                    c45.032,0,89.38-11.98,128.264-34.552c9.548-5.54,12.804-17.832,7.26-27.376C476.079,443.896,469.435,440.044,462.323,440.044z"/>
                                </g>
                            </svg>
                            <span>{{ company.intern_fee }}</span>
                        </div>
                        {% endif %}
                        {% if company.location %}
                        <div class="detail-bar">
                            <svg class="icon" version="1.1" viewBox="0 0 315 315" style="enable-background:new 0 0 315 315;" xml:space="preserve">
                            <g>
                                <path d="M157.5,0C93.319,0,41.103,52.215,41.103,116.397c0,62.138,106.113,190.466,110.63,195.898
                                    c1.425,1.713,3.538,2.705,5.767,2.705c2.228,0,4.342-0.991,5.767-2.705c4.518-5.433,110.63-133.76,110.63-195.898
                                    C273.897,52.215,221.682,0,157.5,0z M157.5,295.598c-9.409-11.749-28.958-36.781-48.303-65.397
                                    c-34.734-51.379-53.094-90.732-53.094-113.804C56.103,60.486,101.59,15,157.5,15c55.91,0,101.397,45.486,101.397,101.397
                                    c0,23.071-18.359,62.424-53.094,113.804C186.457,258.817,166.909,283.849,157.5,295.598z"/>
                                <path d="M195.657,213.956c-3.432-2.319-8.095-1.415-10.413,2.017c-10.121,14.982-21.459,30.684-33.699,46.67
                                    c-2.518,3.289-1.894,7.996,1.395,10.514c1.36,1.042,2.963,1.546,4.554,1.546c2.254,0,4.484-1.013,5.96-2.941
                                    c12.42-16.22,23.933-32.165,34.219-47.392C199.992,220.938,199.09,216.275,195.657,213.956z"/>
                                <path d="M157.5,57.5C123.589,57.5,96,85.089,96,119s27.589,61.5,61.5,61.5S219,152.911,219,119S191.411,57.5,157.5,57.5z
                                        M157.5,165.5c-25.64,0-46.5-20.86-46.5-46.5s20.86-46.5,46.5-46.5c25.641,0,46.5,20.86,46.5,46.5S183.141,165.5,157.5,165.5z"/>
                            </g>
                            </svg>
                            <span>{{ company.location }}</span>
                        </div>
                        {% endif %}
                    </div>
                    <article>
                        {% if company.description %}
                        <p class="quote">"{{ company.description }}"</p>
                        {% endif %}
                        {% if company.promotext %}
                        <p>{{ company.promotext }}</p>
                        {% endif %}
                    </article>
                </section>

                {% if current_user.is_teacher or company.id == session['company_id'] %}
                    <div class="detail-bar align-right">
                        <a href="{{ url_for('edit_company', company_id=company.id)}}">
                            <button>
                                <svg class="icon" version="1.1" viewBox="0 0 469.331 469.331" style="enable-background:new 0 0 469.331 469.331;" xml:space="preserve">
                                    <g>
                                        <path d="M438.931,30.403c-40.4-40.5-106.1-40.5-146.5,0l-268.6,268.5c-2.1,2.1-3.4,4.8-3.8,7.7l-19.9,147.4
                                            c-0.6,4.2,0.9,8.4,3.8,11.3c2.5,2.5,6,4,9.5,4c0.6,0,1.2,0,1.8-0.1l88.8-12c7.4-1,12.6-7.8,11.6-15.2c-1-7.4-7.8-12.6-15.2-11.6
                                            l-71.2,9.6l13.9-102.8l108.2,108.2c2.5,2.5,6,4,9.5,4s7-1.4,9.5-4l268.6-268.5c19.6-19.6,30.4-45.6,30.4-73.3
                                            S458.531,49.903,438.931,30.403z M297.631,63.403l45.1,45.1l-245.1,245.1l-45.1-45.1L297.631,63.403z M160.931,416.803l-44.1-44.1
                                            l245.1-245.1l44.1,44.1L160.931,416.803z M424.831,152.403l-107.9-107.9c13.7-11.3,30.8-17.5,48.8-17.5c20.5,0,39.7,8,54.2,22.4
                                            s22.4,33.7,22.4,54.2C442.331,121.703,436.131,138.703,424.831,152.403z"/>
                                    </g>
                                </svg>
                            </button>
                        </a>
                        <form onsubmit="return confirm('Do you really want to delete this company?');" method="POST" action="{{ url_for('delete_company', company_id=company.id)}}">
                            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                            <button>
                                <svg class="icon" version="1.1" viewBox="0 0 473 473">
                                    <g>
                                        <path d="M324.285,215.015V128h20V38h-98.384V0H132.669v38H34.285v90h20v305h161.523c23.578,24.635,56.766,40,93.477,40
                                            c71.368,0,129.43-58.062,129.43-129.43C438.715,277.276,388.612,222.474,324.285,215.015z M294.285,215.015
                                            c-18.052,2.093-34.982,7.911-50,16.669V128h50V215.015z M162.669,30h53.232v8h-53.232V30z M64.285,68h250v30h-250V68z M84.285,128
                                            h50v275h-50V128z M164.285,403V128h50v127.768c-21.356,23.089-34.429,53.946-34.429,87.802c0,21.411,5.231,41.622,14.475,59.43
                                            H164.285z M309.285,443c-54.826,0-99.429-44.604-99.429-99.43s44.604-99.429,99.429-99.429s99.43,44.604,99.43,99.429
                                            S364.111,443,309.285,443z"/>
                                        <polygon points="342.248,289.395 309.285,322.358 276.323,289.395 255.11,310.608 288.073,343.571 255.11,376.533 276.323,397.746 
                                            309.285,364.783 342.248,397.746 363.461,376.533 330.498,343.571 363.461,310.608 	"/>
                                    </g>
                                </svg>
                            </button>
                        </form>
                        <div class="add-button">
                            <a href="{{ url_for('add_team', company_id=company.id)}}">
                                <button>
                                    Add a team
                                </button>
                            </a>
                        </div>
                    </div>
                {% endif %}
            </div>

            <section>
                {% for team in company.teams %}
                    <div class="card rows1">
                        <div class="detail-bar">
                            <h2>{{team.name}}</h2>
                            {% if current_user.is_teacher or company.id == session['company_id'] %}
                                <div class="detail-bar">
                                    <a href="{{ url_for('edit_team', team_id=team.id)}}">
                                        <button>
                                            <svg class="icon" version="1.1" viewBox="0 0 469.331 469.331">
                                                <g>
                                                    <path d="M438.931,30.403c-40.4-40.5-106.1-40.5-146.5,0l-268.6,268.5c-2.1,2.1-3.4,4.8-3.8,7.7l-19.9,147.4
                                                    c-0.6,4.2,0.9,8.4,3.8,11.3c2.5,2.5,6,4,9.5,4c0.6,0,1.2,0,1.8-0.1l88.8-12c7.4-1,12.6-7.8,11.6-15.2c-1-7.4-7.8-12.6-15.2-11.6
                                                    l-71.2,9.6l13.9-102.8l108.2,108.2c2.5,2.5,6,4,9.5,4s7-1.4,9.5-4l268.6-268.5c19.6-19.6,30.4-45.6,30.4-73.3
                                                    S458.531,49.903,438.931,30.403z M297.631,63.403l45.1,45.1l-245.1,245.1l-45.1-45.1L297.631,63.403z M160.931,416.803l-44.1-44.1
                                                    l245.1-245.1l44.1,44.1L160.931,416.803z M424.831,152.403l-107.9-107.9c13.7-11.3,30.8-17.5,48.8-17.5c20.5,0,39.7,8,54.2,22.4
                                                    s22.4,33.7,22.4,54.2C442.331,121.703,436.131,138.703,424.831,152.403z"/>
                                                </g>
                                            </svg>
                                        </button>
                                    </a>
                                    <form onsubmit="return confirm('Do you really want to delete this team?');" method="POST", action="{{ url_for('delete_team', team_id=team.id)}}">
                                        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
                                        <button>
                                            <svg class="icon" version="1.1" viewBox="0 0 473 473">
                                                <g>
                                                    <path d="M324.285,215.015V128h20V38h-98.384V0H132.669v38H34.285v90h20v305h161.523c23.578,24.635,56.766,40,93.477,40
                                                        c71.368,0,129.43-58.062,129.43-129.43C438.715,277.276,388.612,222.474,324.285,215.015z M294.285,215.015
                                                        c-18.052,2.093-34.982,7.911-50,16.669V128h50V215.015z M162.669,30h53.232v8h-53.232V30z M64.285,68h250v30h-250V68z M84.285,128
                                                        h50v275h-50V128z M164.285,403V128h50v127.768c-21.356,23.089-34.429,53.946-34.429,87.802c0,21.411,5.231,41.622,14.475,59.43
                                                        H164.285z M309.285,443c-54.826,0-99.429-44.604-99.429-99.43s44.604-99.429,99.429-99.429s99.43,44.604,99.43,99.429
                                                        S364.111,443,309.285,443z"/>
                                                    <polygon points="342.248,289.395 309.285,322.358 276.323,289.395 255.11,310.608 288.073,343.571 255.11,376.533 276.323,397.746 
                                                        309.285,364.783 342.248,397.746 363.461,376.533 330.498,343.571 363.461,310.608 	"/>
                                                </g>
                                            </svg>
                                        </button>
                                    </form>
                                </div>
                            {% endif %}
                        </div>
                        <div class="detail-list">
                            <div class="detail-bar">
                                {% if team.availability == 0 %}
                                    <div class="tag icon"></div>
                                    <span>Open to interns</span>
                                {% elif team.availability == 1 %}
                                    <div class="tag is-warning icon"></div>
                                    <span>Please inquire</span>
                                {% else %}
                                    <div class="tag unavailable icon"></div>
                                    <span>Not open to interns at this time</span>
                                {% endif %}
                            </div>
                            <div class="detail-bar">
                                <svg class="icon" version="1.1" viewBox="0 0 512 512">
                                    <g>
                                        <path d="M282.503,149.97c-11.43-2.858-23.013,4.092-25.87,15.522l-42.667,170.667c-2.858,11.43,4.092,23.013,15.522,25.87
                                            s23.013-4.092,25.87-15.522l42.667-170.667C300.883,164.41,293.933,152.828,282.503,149.97z"/>
                                        <path d="M170.662,234.667V192c11.782,0,21.333-9.551,21.333-21.333c0-11.782-9.551-21.333-21.333-21.333
                                            c-25.201,0-42.667,17.466-42.667,42.667v33.83l-15.085,15.085c-8.331,8.331-8.331,21.839,0,30.17l15.085,15.085V320
                                            c0,25.201,17.466,42.667,42.667,42.667c11.782,0,21.333-9.551,21.333-21.333c0-11.782-9.551-21.333-21.333-21.333v-42.667
                                            c0-5.658-2.248-11.084-6.248-15.085L158.166,256l6.248-6.248C168.415,245.751,170.662,240.325,170.662,234.667z"/>
                                        <path d="M383.996,225.83V192c0-25.201-17.466-42.667-42.667-42.667c-11.782,0-21.333,9.551-21.333,21.333
                                            c0,11.782,9.551,21.333,21.333,21.333v42.667c0,5.658,2.248,11.084,6.248,15.085l6.248,6.248l-6.248,6.248
                                            c-4.001,4.001-6.248,9.427-6.248,15.085V320c-11.782,0-21.333,9.551-21.333,21.333c0,11.782,9.551,21.333,21.333,21.333
                                            c25.201,0,42.667-17.466,42.667-42.667v-33.83l15.085-15.085c8.331-8.331,8.331-21.839,0-30.17L383.996,225.83z"/>
                                        <path d="M426.731,0H85.269C38.181,0,0,38.181,0,85.269v341.461C0,473.819,38.181,512,85.269,512h341.461
                                            C473.819,512,512,473.819,512,426.731V85.269C512,38.181,473.819,0,426.731,0z M469.333,426.731
                                            c0,23.525-19.078,42.603-42.603,42.603H85.269c-23.525,0-42.603-19.078-42.603-42.603V85.269
                                            c0-23.525,19.078-42.603,42.603-42.603h341.461c23.525,0,42.603,19.078,42.603,42.603V426.731z"/>
                                    </g>
                                </svg>
                                <span>{{team.technologies}}</span>
                            </div>
                            <div class="detail-bar">
                                <svg class="icon" viewBox="0 0 1024 1024"><path d="M746 835.28L544.529 723.678c74.88-58.912 95.216-174.688 95.216-239.601v-135.12c0-89.472-118.88-189.12-238.288-189.12-119.376 0-241.408 99.664-241.408 189.12v135.12c0 59.024 24.975 178.433 100.624 239.089L54 835.278S0 859.342 0 889.342v81.088c0 29.84 24.223 54.064 54 54.064h692c29.807 0 54.031-24.224 54.031-54.064v-81.087c0-31.808-54.032-54.064-54.032-54.064zm-9.967 125.215H64.002V903.28c4.592-3.343 11.008-7.216 16.064-9.536 1.503-.688 3.007-1.408 4.431-2.224l206.688-112.096c18.848-10.224 31.344-29.184 33.248-50.528s-7.008-42.256-23.712-55.664c-53.664-43.024-76.656-138.32-76.656-189.152V348.96c0-45.968 86.656-125.12 177.408-125.12 92.432 0 174.288 78.065 174.288 125.12v135.12c0 50.128-15.568 145.84-70.784 189.28a64.098 64.098 0 0 0-24.224 55.664 64.104 64.104 0 0 0 33.12 50.849l201.472 111.6c1.777.975 4.033 2.031 5.905 2.848 4.72 2 10.527 5.343 14.783 8.288v57.887zM969.97 675.936L765.505 564.335c74.88-58.912 98.224-174.688 98.224-239.601v-135.12c0-89.472-121.872-190.128-241.28-190.128-77.6 0-156.943 42.192-203.12 96.225 26.337 1.631 55.377 1.664 80.465 9.664 33.711-26.256 76.368-41.872 122.656-41.872 92.431 0 177.278 79.055 177.278 126.128v135.12c0 50.127-18.56 145.84-73.775 189.28a64.098 64.098 0 0 0-24.224 55.664 64.104 64.104 0 0 0 33.12 50.848l204.465 111.6c1.776.976 4.032 2.032 5.904 2.848 4.72 2 10.527 5.344 14.783 8.288v56.912H830.817c19.504 14.72 25.408 35.776 32.977 64h106.192c29.807 0 54.03-24.224 54.03-54.064V730.03c-.015-31.84-54.047-54.096-54.047-54.096z"/></svg>
                                <span>{{team.size}}</span>
                            </div>

                            <div class="detail-bar">
                                <svg class="icon" xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 48 48"><mask id="ipSPeopleSpeak0"><g fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="4"><path fill="#fff" d="M19 20a7 7 0 1 0 0-14a7 7 0 0 0 0 14Z"/><path d="M33 8s2.25 4.5 0 10m7-14s4.5 8.1 0 18"/><path fill="#fff" d="M4 40.8V42h30v-1.2c0-4.48 0-6.72-.872-8.432a8 8 0 0 0-3.496-3.496C27.92 28 25.68 28 21.2 28h-4.4c-4.48 0-6.72 0-8.432.872a8 8 0 0 0-3.496 3.496C4 34.08 4 36.32 4 40.8Z"/></g></mask><path fill="currentColor" d="M0 0h48v48H0z" mask="url(#ipSPeopleSpeak0)"/></svg>                                
                                <span>{{ 'Dutch team' if team.dutch_only else 'International team' }}</span>
                            </div>

                            <div class="detail-bar">
                                <svg class="icon" version="1.1" viewBox="0 0 330 330">
                                    <g>
                                        <rect x="102.39" y="55" width="30" height="30"/>
                                        <rect x="152.39" y="55" width="30" height="30"/>
                                        <rect x="102.39" y="105" width="30" height="30"/>
                                        <rect x="152.39" y="105" width="30" height="30"/>
                                        <rect x="102.39" y="155" width="30" height="30"/>
                                        <circle cx="222.39" cy="240.073" r="7.536"/>
                                        <path d="M237.39,181.892V15.016c0-8.284-6.715-14.999-14.999-15L62.391,0H62.39c-3.978,0-7.793,1.58-10.606,4.393
                                            C48.97,7.206,47.39,11.021,47.39,15v300c0,8.284,6.716,15,15,15h159c0.14,0,0.275-0.017,0.414-0.021
                                            c0.195,0.008,0.391,0.021,0.586,0.021c2.856,0,5.714-0.815,8.207-2.444c0.701-0.459,7.085-4.696,15.211-12.268
                                            c16.79-15.64,36.803-41.357,36.803-75.06C282.61,212.196,263.362,188.575,237.39,181.892z M77.39,30.001l130,0.013v151.877
                                            c-25.972,6.684-45.221,30.304-45.221,58.336c0,24.581,10.845,44.92,22.638,59.772H77.39V30.001z M225.357,293.338
                                            c-1.026,0.956-2.016,1.844-2.954,2.659c-11.301-9.835-30.234-30.139-30.234-55.77c0-16.666,13.554-30.225,30.214-30.229
                                            c0.002,0,0.004,0.001,0.006,0.001c0.002,0,0.004-0.001,0.006-0.001c16.661,0.004,30.214,13.563,30.214,30.229
                                            C252.61,263.142,237.791,281.756,225.357,293.338z"/>
                                    </g>
                                </svg>
                                <span>{{team.location}}</span>
                            </div>


                        </div>
                        {% if team.working_on %}
                            <p>{{team.working_on}}</p>
                        {% endif %}
                        {% if team.misc %}
                            <p class="notification">Other important info: {{team.misc}}</p>
                        {% endif %}
                        <p class="notification is-important">How to apply: {{team.contact}}</p>
                    </div>
                {% endfor %}

            </section>
        </div>
    {% endif %}
{% endblock %}
