{% extends "layout.html" %}
{% block title %}{{'Confirm submission'}}{% endblock%}

{% block body %}
    <form action="/curriculum/{{node_id}}" method="post">
        <input class="button" type="submit" name="force-submit" value="I'm sure">
        {% for element in form %}
            {% if element.data != None %}
                <input type="hidden" name="{{ element.name }}" value="{{ element.data }}">
            {% endif %}
        {% endfor %}
    </form>

    <form action="/curriculum/{{node_id}}" method="get">
        <button type="submit">Take me back</button>
    </form>
{% endblock %}