<div class="row">
    <h1 class="column">Stupid Simple Search Service</h1>
</div>
<div class="row">
    <sub class="column">
        {{page_count}} pages in index
    </sub>
</div>

<div class="row" style="margin-top: 2em;">
    <div class="column column-20">
        <h3>Search</h3>
    </div>
    <form class="column column-80" method="GET" action="/">
        <label>Search terms
            <input type="text" name="terms" placeholder="amd intel" value="{{query}}">
        </label>
        <input type="submit" value="Search">
    </form>
</div>

{{#if query}}
    <div class="row" style="margin-top: 2em;">
        <div class="column column-20">
            <h3>“{{query}}”</h3>
        </div>
        <div class="column column-80">
            <ul>
                {{#each results}}
                    <article>
                        <a href="{{url}}">
                            {{title}}
                        </a>
                        <p>
                            {{{snippet}}}
                        </p>
                    </article>
                {{else}}
                    <em>No results...</em>
                {{/each}}
            </ul>
        </div>
    </div>
{{/if}}

<div class="row" style="margin-top: 2em;">
    <div class="column column-20">
        <h3>Add a site</h3>
    </div>
    <form class="column column-80" method="POST" action="/sites">
        <label>Site URL
            <input name="url" type="text" placeholder="https://nos.nl">
        </label>
        <label>Recursion depth
            <input type="number" name="depth" value="2">
        </label>
        <input type="submit" value="Index">
    </form>
</div>
